body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  max-width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00cc99; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 110, 93); 
}

::selection {
  color: white;
  background: #3A7865;
}